*{
    margin: 0;
}
body{
    background-image: url("./photos/back.jpg");
    max-width: 100%;
}

.header{
    display: flex;
    justify-content: space-between;
    background-color: black;
}

.link{
    display: flex;
    justify-content: space-between;
    gap: 20px;
}


a{
    text-decoration: none;
}

@media(max-width:400px){
    .container{
        width:300px
    }

}